v01/GenerateFeed/src/main/java/com/fm/lifevoy/generatefeed/generated/feed/FeedSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.fm.com/lifevoy/feed/generated"
            targetNamespace="http://www.fm.com/lifevoy/feed/generated"
            elementFormDefault="qualified">

    <xsd:complexType name="Post">
        <xsd:sequence>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="posterUsername" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="likers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetFeedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetFeedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="posts" type="tns:Post" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>