v02/GenerateFeed/src/main/resources/contract/feed.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.fm.com/lifevoy/v2/feed" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fm.com/lifevoy/v2/feed" targetNamespace="http://www.fm.com/lifevoy/v2/feed">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fm.com/lifevoy/v2/feed">

    <xsd:complexType name="Post">
        <xsd:sequence>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="posterUsername" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="likers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetFeedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetFeedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="posts" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetFeedRequest">
    <wsdl:part element="tns:GetFeedRequest" name="GetFeedRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFeedResponse">
    <wsdl:part element="tns:GetFeedResponse" name="GetFeedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Feed">
    <wsdl:operation name="GetFeed">
      <wsdl:input message="tns:GetFeedRequest" name="GetFeedRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetFeedResponse" name="GetFeedResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedSoap11" type="tns:Feed">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFeed">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetFeedRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetFeedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedService">
    <wsdl:port binding="tns:FeedSoap11" name="FeedSoap11">
      <soap:address location="http://localhost:8084/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>