v02/GenerateProfile/src/main/resources/contract/profile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.fm.com/lifevoy/v2/profile" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fm.com/lifevoy/v2/profile" targetNamespace="http://www.fm.com/lifevoy/v2/profile">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fm.com/lifevoy/v2/profile">

    <xsd:complexType name="Post">
        <xsd:sequence>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="posterUsername" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="likers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetProfileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetProfileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
                <xsd:element name="followerCount" type="xsd:long"/>
                <xsd:element name="followingCount" type="xsd:long"/>
                <xsd:element maxOccurs="unbounded" name="posts" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProfileResponse">
    <wsdl:part element="tns:GetProfileResponse" name="GetProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProfileRequest">
    <wsdl:part element="tns:GetProfileRequest" name="GetProfileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Profile">
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileRequest" name="GetProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetProfileResponse" name="GetProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileSoap11" type="tns:Profile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetProfileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port binding="tns:ProfileSoap11" name="ProfileSoap11">
      <soap:address location="http://localhost:8085/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>