v01/GenerateFeed/src/main/resources/externalContracts/post.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.fm.com/lifevoy/post/generated" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fm.com/lifevoy/post/generated" targetNamespace="http://www.fm.com/lifevoy/post/generated">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fm.com/lifevoy/post/generated">

    <xsd:complexType name="Post">
        <xsd:sequence>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="posterUsername" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="likers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetFeedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="followingUsernames" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFeedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="posts" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="GetProfileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProfileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="posts" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="GetPostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="psot" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="LikePostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
                <xsd:element name="requesterUsername" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LikePostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="post" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DislikePostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
                <xsd:element name="requesterUsername" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DislikePostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="post" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreatePostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
                <xsd:element name="text" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreatePostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="post" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProfileResponse">
    <wsdl:part element="tns:GetProfileResponse" name="GetProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResponse">
    <wsdl:part element="tns:GetPostResponse" name="GetPostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePostResponse">
    <wsdl:part element="tns:CreatePostResponse" name="CreatePostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFeedRequest">
    <wsdl:part element="tns:GetFeedRequest" name="GetFeedRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostRequest">
    <wsdl:part element="tns:GetPostRequest" name="GetPostRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LikePostResponse">
    <wsdl:part element="tns:LikePostResponse" name="LikePostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DislikePostRequest">
    <wsdl:part element="tns:DislikePostRequest" name="DislikePostRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFeedResponse">
    <wsdl:part element="tns:GetFeedResponse" name="GetFeedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LikePostRequest">
    <wsdl:part element="tns:LikePostRequest" name="LikePostRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DislikePostResponse">
    <wsdl:part element="tns:DislikePostResponse" name="DislikePostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePostRequest">
    <wsdl:part element="tns:CreatePostRequest" name="CreatePostRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProfileRequest">
    <wsdl:part element="tns:GetProfileRequest" name="GetProfileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Post">
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileRequest" name="GetProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetProfileResponse" name="GetProfileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input message="tns:GetPostRequest" name="GetPostRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPostResponse" name="GetPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <wsdl:input message="tns:CreatePostRequest" name="CreatePostRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreatePostResponse" name="CreatePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeed">
      <wsdl:input message="tns:GetFeedRequest" name="GetFeedRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetFeedResponse" name="GetFeedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikePost">
      <wsdl:input message="tns:LikePostRequest" name="LikePostRequest">
    </wsdl:input>
      <wsdl:output message="tns:LikePostResponse" name="LikePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikePost">
      <wsdl:input message="tns:DislikePostRequest" name="DislikePostRequest">
    </wsdl:input>
      <wsdl:output message="tns:DislikePostResponse" name="DislikePostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostSoap11" type="tns:Post">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetProfileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPostRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreatePostRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreatePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeed">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetFeedRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetFeedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikePost">
      <soap:operation soapAction=""/>
      <wsdl:input name="LikePostRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LikePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikePost">
      <soap:operation soapAction=""/>
      <wsdl:input name="DislikePostRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DislikePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostService">
    <wsdl:port binding="tns:PostSoap11" name="PostSoap11">
      <soap:address location="http://localhost:8201/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>