Comment/src/main/resources/contract/comment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://fm.com/lifevoy/v2/comment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fm.com/lifevoy/v2/comment" targetNamespace="http://fm.com/lifevoy/v2/comment">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://fm.com/lifevoy/v2/comment">

    <xsd:complexType name="Reply">
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Comment">
        <xsd:sequence>
            <xsd:element name="commentID" type="xsd:long"/>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="commenter" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="replies" type="tns:Reply"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--//////////////////////////////////////////////////////////////////////-->
    <xsd:element name="GetCommentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCommentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="comments" type="tns:Comment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--//////////////////////////////////////////////////////////////////////-->
    <xsd:element name="CommentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
                <xsd:element name="username" type="xsd:string"/>
                <xsd:element name="text" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CommentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="comment" type="tns:Comment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--//////////////////////////////////////////////////////////////////////-->
    <xsd:element name="ReplyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="commentID" type="xsd:long"/>
                <xsd:element name="username" type="xsd:string"/>
                <xsd:element name="text" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReplyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="comment" type="tns:Comment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCommentsResponse">
    <wsdl:part element="tns:GetCommentsResponse" name="GetCommentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReplyResponse">
    <wsdl:part element="tns:ReplyResponse" name="ReplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReplyRequest">
    <wsdl:part element="tns:ReplyRequest" name="ReplyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CommentRequest">
    <wsdl:part element="tns:CommentRequest" name="CommentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CommentResponse">
    <wsdl:part element="tns:CommentResponse" name="CommentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCommentsRequest">
    <wsdl:part element="tns:GetCommentsRequest" name="GetCommentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Comment">
    <wsdl:operation name="GetComments">
      <wsdl:input message="tns:GetCommentsRequest" name="GetCommentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCommentsResponse" name="GetCommentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <wsdl:input message="tns:ReplyRequest" name="ReplyRequest">
    </wsdl:input>
      <wsdl:output message="tns:ReplyResponse" name="ReplyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comment">
      <wsdl:input message="tns:CommentRequest" name="CommentRequest">
    </wsdl:input>
      <wsdl:output message="tns:CommentResponse" name="CommentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommentSoap11" type="tns:Comment">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCommentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCommentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReplyRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReplyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comment">
      <soap:operation soapAction=""/>
      <wsdl:input name="CommentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port binding="tns:CommentSoap11" name="CommentSoap11">
      <soap:address location="http://localhost:8083/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>