User/src/main/java/com/fm/lifevoy/user/generated/userContract.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.fm.com/lifevoy/user/generated"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.fm.com/lifevoy/user/generated"
>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.fm.com/lifevoy/user/generated"
                        schemaLocation="../schema/userSchema.xsd"/>


           <!-- <xsd:element name="GetUserByUsernameRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetUserByUsernameResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="tns:User" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetFollowersRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="followerUsernames" type="xsd:string" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFollowersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="followers" type="tns:User" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetFollowingsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="followingUsernames" type="xsd:string" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFollowingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="followings" type="tns:User" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FollowUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="requesterUsername" type="xsd:string"/>
                        <xsd:element name="targetUsername" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FollowUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="targetUser" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="UnfollowUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="requesterUsername" type="xsd:string"/>
                        <xsd:element name="targetUsername" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UnfollowUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="targetUser" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SignUpRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SignUpResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="newUser" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SignInRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SignInResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="newUser" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string" maxOccurs="1"/>
                    <xsd:element name="password" type="xsd:string" maxOccurs="1"/>
                    <xsd:element name="followings" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="followers" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="posts" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>      -->
            
        </xsd:schema>

    </wsdl:types>

    <wsdl:message name="GetUserByUsernameRequest">
        <wsdl:part element="tns:GetUserByUsernameRequest" name="GetUserByUsernameRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUserByUsernameResponse">
        <wsdl:part element="tns:GetUserByUsernameResponse" name="GetUserByUsernameResponse"/>
    </wsdl:message>

    <wsdl:message name="GetFollowersRequest">
        <wsdl:part element="tns:GetFollowersRequest" name="GetFollowersRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFollowersResponse">
        <wsdl:part element="tns:GetFollowersResponse" name="GetFollowersResponse"/>
    </wsdl:message>

    <wsdl:message name="GetFollowingsRequest">
        <wsdl:part element="tns:GetFollowingsRequest" name="GetFollowingsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFollowingsResponse">
        <wsdl:part element="tns:GetFollowingsResponse" name="GetFollowingsResponse"/>
    </wsdl:message>

    <wsdl:message name="FollowUserRequest">
        <wsdl:part element="tns:FollowUserRequest" name="FollowUserRequest"/>
    </wsdl:message>
    <wsdl:message name="FollowUserResponse">
        <wsdl:part element="tns:FollowUserResponse" name="FollowUserResponse"/>
    </wsdl:message>

    <wsdl:message name="UnfollowUserRequest">
        <wsdl:part element="tns:UnfollowUserRequest" name="UnfollowUserRequest"/>
    </wsdl:message>
    <wsdl:message name="UnfollowUserResponse">
        <wsdl:part element="tns:UnfollowUserResponse" name="UnfollowUserResponse"/>
    </wsdl:message>

    <wsdl:message name="SignUpRequest">
        <wsdl:part element="tns:SignUpRequest" name="SignUpRequest"/>
    </wsdl:message>
    <wsdl:message name="SignUpResponse">
        <wsdl:part element="tns:SignUpResponse" name="SignUpResponse"/>
    </wsdl:message>

    <wsdl:message name="SignInRequest">
        <wsdl:part element="tns:SignInRequest" name="SignInRequest"/>
    </wsdl:message>
    <wsdl:message name="SignInResponse">
        <wsdl:part element="tns:SignInResponse" name="SignInResponse"/>
    </wsdl:message>

    <wsdl:portType name="UserOperations">
        <wsdl:operation name="GetUserByUsername">
            <wsdl:input message="tns:GetUserByUsernameRequest" name="GetUserByUsernameRequest"/>
            <wsdl:output message="tns:GetUserByUsernameResponse" name="GetUserByUsernameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetFollowers">
            <wsdl:input message="tns:GetFollowersRequest" name="GetFollowersRequest"/>
            <wsdl:output message="tns:GetFollowersResponse" name="GetFollowersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetFollowings">
            <wsdl:input message="tns:GetFollowingsRequest" name="GetFollowingsRequest"/>
            <wsdl:output message="tns:GetFollowingsResponse" name="GetFollowingsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="FollowUser">
            <wsdl:input message="tns:FollowUserRequest" name="FollowUserRequest"/>
            <wsdl:output message="tns:FollowUserResponse" name="FollowUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UnfollowUser">
            <wsdl:input message="tns:UnfollowUserRequest" name="UnfollowUserRequest"/>
            <wsdl:output message="tns:UnfollowUserResponse" name="UnfollowUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SignUp">
            <wsdl:input message="tns:SignUpRequest" name="SignUpRequest"/>
            <wsdl:output message="tns:SignUpResponse" name="SignUpResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SignIn">
            <wsdl:input message="tns:SignInRequest" name="SignInRequest"/>
            <wsdl:output message="tns:SignInRequest" name="SignInRequest"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="UserOperationsBinding" type="tns:UserOperations">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetUserByUsername">
            <soap:operation soapAction="http://fm.com/user/getuser/"/>
            <wsdl:input name="GetUserByUsernameRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetUserByUsernameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFollowers">
            <soap:operation soapAction="http://fm.com/user/getfollowers/"/>
            <wsdl:input name="GetFollowersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFollowersRequest">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFollowings">
            <soap:operation soapAction="http://fm.com/user/getfollowings/"/>
            <wsdl:input name="GetFollowingsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFollowingsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FollowUser">
            <soap:operation soapAction="http://fm.com/user/follow/"/>
            <wsdl:input name="FollowUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FollowUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnfollowUser">
            <soap:operation soapAction="http://fm.com/user/unfollow/"/>
            <wsdl:input name="UnfollowUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnfollowUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignUp">
            <soap:operation soapAction="http://fm.com/user/signup/"/>
            <wsdl:input name="SignUpRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SignUpResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignIn">
            <soap:operation soapAction="http://fm.com/user/signin/"/>
            <wsdl:input name="SignInRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SignInRequest">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>


</wsdl:definitions>