v02/OnePost/src/main/java/com/fm/lifevoy/v2/onepost/generated/OnePost.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.fm.com/lifevoy/v2/onepost"
            targetNamespace="http://www.fm.com/lifevoy/v2/onepost"
            elementFormDefault="qualified">


    <xsd:complexType name="Reply">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="username"/>
            <xsd:element type="xsd:string" name="text"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Comment">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="username"/>
            <xsd:element type="xsd:string" name="text"/>
            <xsd:element type="tns:Reply" name="replies" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Post">
        <xsd:sequence>
            <xsd:element name="postID" type="xsd:long"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="posterUsername" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="likers" type="xsd:string"/>
            <xsd:element type="tns:Comment" name="comments" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetOnePostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="postID" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOnePostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="post" type="tns:Post"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>